.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}
#btnSignOut{
    -fx-background-image: url("/slike/logOut.png");
}